<nav *ngIf="href!='/item'" style="background-color:#008060;" class="navbar navbar-expand-md navbar-light shadow-sm">
    <div class="container">
      <a [routerLink]="routerLinkVariable" lass="navbar-brand">
         <img style=" height: 70px;" src="assets/images/logo.png"/>
      </a>
  
  
      <div class="form-inline my-2 my-lg-0">
        <div *ngIf="!connected">
          <button (click)="goToPartners()" class="btn btn-danger my-2 my-sm-0" type="button">Parent</button>
          <button (click)="goToPartners()" style="margin-left: 5px;" class="btn btn-warning my-2 my-sm-0" type="button">Ecole</button>
        </div>
        <div *ngIf="connected">
          <span style="margin-right:10px; color:white;vertical-align: middle;">Score : {{score}} <img style="vertical-align: baseline; width: 15px;" src="assets/images/start.svg" alt="star"></span>

          <span style="margin-right:10px;"><img style="width: 50px;" src="assets/images/avatar.png" alt="Avatar" class="avatar"> 
            <span style="vertical-align: middle;font-size: 25px; color: white;">{{user.first_name}}</span>
          </span>
          <button (click)="logout()" style="margin-left: 5px;" class="btn btn-danger my-2 my-sm-0" type="button">Logout</button>
        </div>
      </div>
    </div>
  </nav>
  