<main role="main" style="
width: 100%;
left: 0;
overflow: hidden;
position: absolute;
background-repeat: no-repeat;
background-size: cover;
background-image: url(assets/images/home-student-dark.svg); 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
">



    <div class="album py-5">
      <div class="container">

        <button  (click)="backClicked()" class="return"><img src="assets/images/left.svg" alt="Resume" width="20" /></button>
        <div class="content-section implementation carousel-demo" *ngIf="user.age.years_start == 3">
          <div class="card p-5 mb-5">
            <h1>New books</h1>
              <p-carousel  class="itemi" [value]="newBook" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1"
              [circular]="true" [showIndicators]="false" [showNavigators]="false" [autoplayInterval]="15000" [responsiveOptions]="responsiveOptions">
                  <ng-template  let-newBook pTemplate="item">
                    <div  class="zoom1 item card" style="margin:5px;">
                      <img [src]="'https://partners.mbindireads.com/'+newBook.image" class="imgtopi card-img-top" alt="...">
                      <div class="card-body ht">
                        <h5 class="white card-title">{{newBook.name}}</h5>
                        <!-- <p class="card-text">{{newBook.description}}</p> -->
                        <span data-bs-toggle="modal" data-bs-target="#exampleModals" (click)="moadalOpens(newBook)" class="btpm btn btn-primary">Start</span>
                      </div>
                    </div>
                  </ng-template>
              </p-carousel>
          </div>
        </div>
        

        <div class="row pb-5">
          <div class="zoom col-md-2" *ngFor="let item of Booksreturned" (click)="moadalOpen(item)"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card cardngfor mb-4 box-shadow">
              <img class="img-top card-img-top" [src]="'https://partners.mbindireads.com/'+item.book.image" alt="Card image cap" >
              <div class="card-body">
                <h4 class="titre">{{item.book.name}}</h4>
               <!--  <p class="card-text">{{item.book.description}}</p> -->
                <div class="bottonelt d-flex justify-content-between align-items-center">

                  <div class="btn-group">

                    <button  type="button" class="btn btn-sm btn-outline-secondary">
                      <img *ngIf="item.reading.hear==1" src="assets/images/checked.png" class="checkeds" alt="Checked" width="10"/>
                      <img src="assets/images/hear.png" alt="Hear" width="20"/>
                    </button>

                    <button *ngIf="mbindi==false" type="button" class="btn btn-sm btn-outline-secondary">
                      <img  *ngIf="item.reading.read==1" src="assets/images/checked.png" class="checkeds" alt="Checked" width="10"/>
                      <img src="assets/images/read.png" alt="Read" width="20"/>
                    </button>



                    <button  type="button" class="btn btn-sm btn-outline-secondary">
                      <img *ngIf="item.reading.quiz==1" src="assets/images/checked.png" class="checkeds" alt="Checked" width="10"/>
                      <img src="assets/images/quiz.png" alt="Quizz" width="20" />
                    </button>
                  </div>
                  
                  <!-- <small class="text-muted">9 mins</small> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- Modal -->
    <div *ngIf="clicked==true"  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5  class="modal-title text-white" id="exampleModalLabel">{{items.book.name}}</h5>
            <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-sm-6">
                <img class="card-img-top" [src]="'https://partners.mbindireads.com/'+items.book.image" alt="Card image cap" >
              </div>
              <div class="col-sm-6">
                <ul class="list-group">

                  <li (click)="hear(items.book.id)" data-bs-dismiss="modal" class="list-group-item" style="background-color: #C57A00;">
                    <img src="assets/images/hear.png" alt="Read" width="50"/> <span class="badge text-white">Listen</span>
                    <img *ngIf="items.reading.hear==1" src="assets/images/checked.png" class="checked" alt="Checked" width="50"/>
                  </li>

                  
                  <li *ngIf="mbindi==false" (click)="read(items.book.id)" data-bs-dismiss="modal" class="list-group-item" style="background-color: #0b3f818a;" >
                    <img src="assets/images/book.png" alt="Read" width="50"/> <span class="badge text-white">Read</span>
                    <img *ngIf="items.reading.read==1" src="assets/images/checked.png" class="checked" alt="Checked" width="50"/>
                  </li>

                  <li (click)="quiz(items.book.id)" data-bs-dismiss="modal" class="list-group-item" style="background-color: #C54900;">
                    <img src="assets/images/quiz.png" alt="Read" width="50"/> <span class="badge text-white">Quiz</span>
                    <img *ngIf="items.reading.quiz==1" src="assets/images/checked.png" class="checked" alt="Checked" width="50"/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2-->
    <div *ngIf="clickeds==true"  class="modal fade" id="exampleModals" tabindex="-1" aria-labelledby="exampleModalLabels" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5  class="modal-title text-white" id="exampleModalLabels">{{itemss.name}}</h5>
            <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-sm-6">
                <img class="card-img-top" [src]="'https://partners.mbindireads.com/'+itemss.image" alt="Card image cap" >
              </div>
              <div class="col-sm-6">
                <ul class="list-group">

                  <li (click)="hear(itemss.id)" data-bs-dismiss="modal" class="list-group-item" style="background-color: #C57A00;">
                    <img src="assets/images/hear.png" alt="Read" width="50"/> <span class="badge text-white">Listen</span>
                  </li>

                  
                  <li *ngIf="mbindi==false" (click)="read(itemss.id)" data-bs-dismiss="modal" class="list-group-item" style="background-color: #0b3f818a;" >
                    <img src="assets/images/book.png" alt="Read" width="50"/> <span class="badge text-white">Read</span>
                    
                  </li>

                  <li (click)="quiz(itemss.id)" data-bs-dismiss="modal" class="list-group-item" style="background-color: #C54900;">
                    <img src="assets/images/quiz.png" alt="Read" width="50"/> <span class="badge text-white">Quiz</span>
                    
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>


